* {
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	font-size: 17px;
}

h1 {
	font-size: 175%;
	text-align: center;
	margin: 30px 0px 30px 0px;
	padding: 10px;
}

.title {
	float: right;
	text-align: center;
	width: 30.33%;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	margin-bottom: 20px;
	padding: 10px;
	font-weight: bold;
	font-size: 125%;
}

.description {
	clear: both;
	text-align: left;
	margin: 10px;
	padding: 0px;
}

.type1 {
	background-color: #db5e5e;
}

.type2 {
	background-color: #9e3333;
	color: white;
}

.type3 {
	background-color: #fff9b3;
}

/* Simple Responsive Framework */
.row {
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}

.col {
	float: left;
	margin-left: 1%;
	margin-right: 1%;
	border: 1px solid black;
	background-color: #d3d7de;
	margin-bottom: 30px;
	font-size: 80%;
}

/*** Large Devices ***/
@media (min-width: 992px) {
	.lg-3 {
		width: 31.33%;
	}
}

/*** Medium Devices ***/
@media (min-width: 768px) and (max-width: 991px) {
	.md-1 {
		width: 98%;
	}
	.md-2 {
		width: 48%;
	}
	div.md-1 > .title {
	width: 15.665%; 
	}
}